$c-basic: rgb(46, 46, 54);
$c-cube-border: rgb(20, 20, 20);
$c-danger:rgba(223, 27, 27, 0.858);
$c-currect-value:rgb(59, 81, 194);
$c-done:rgb(0, 42, 252);
$c-white:white;
$c-const-empty-value:rgb(230, 143, 3);
$c-win:rgb(30, 255, 0);